
<div *ngIf="operation">
    <h2><span>Operation</span> {{operation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{operation.date | date:'medium'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{operation.description}}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{operation.amount}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
